<!-- 卡里那套玩家楼层 (引擎内置 userbar 的原样移植) -->
<div class="gv-userbar-wrap" id="wrap">
  <div class="gv-userbar">
    <div class="gv-ubar-main">
      <img class="gv-uava" id="uava" alt="">
      <div class="gv-utext"><b id="uname"></b><span id="utext"></span></div>
      <span class="gv-ubar-btn" id="editBtn" title="展开操作">编辑</span>
    </div>
    <div class="gv-ubar-extra" id="extra">
      <div class="gv-ubar-actions" id="acts">
        <span class="gv-tb gv-primary" data-a="edit">编辑</span>
        <span class="gv-tb" data-a="copy">复制</span>
        <span class="gv-tb" data-a="up">上移</span>
        <span class="gv-tb" data-a="down">下移</span>
        <span class="gv-tb gv-toggle" data-a="toggle-user-avatar" id="uaBtn">显示头像</span>
        <span class="gv-tb gv-danger" data-a="delete">删除</span>
        <span class="gv-tb" data-a="close">关闭</span>
      </div>
      <div class="gv-ubar-editor" id="ed">
        <textarea id="ta"></textarea>
        <div class="row">
          <span class="gv-tb gv-primary" id="bSave">确认修改</span>
          <span class="gv-tb" id="bCancel">退出修改</span>
        </div>
      </div>
    </div>
  </div>
</div>